.heart {
	@include button-reset();
	padding: $heart-size * 0.5;
	border-radius: 0;

	i {
		display: inline-block;
		transform: rotate(45deg);
		position: relative;
		width: $heart-size;
		height: $heart-size;
		background-color: var(--color-brand);

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
			border-radius: 50%;
		}

		&::before {
			left: -50%;
		}

		&::after {
			top: -50%;
			left: 0;
		}
	}

	span {
		@include sr-only();
	}

	&.is-active {
		animation: pulse 1s ease-out forwards;

		i {
			background-color: var(--color-heart);
		}
	}

	&.is-small {
		animation: none;
		padding: $heart-size * 0.25;

		i {
			width: $heart-size * 0.5;
			height: $heart-size * 0.5;
		}
	}
}

@keyframes pulse {
	25% {
		transform: scale(1.2);
	}

	75% {
		transform: scale(0.95);
	}
}
