// Font
$font-family: 'Alegreya Sans', sans-serif;
$font-family-serif: 'Alegreya', serif;
$font-src: 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Alegreya:wght@500&display=swap';

// Colors
$colors: (
	brand: #33838f,
	base: #fff,
	text: #22211f,
	boy: #d9f3ff,
	boy-dark: #344a53,
	girl: #fee2f0,
	girl-dark: #54424b,
	heart: #e2264d,
);

// Gender-Switch
$gender-switch-height: 3.25rem;
$gender-switch-width: 7rem;
$gender-switch-size: 2.5rem;

// Heart
$heart-size: 1.25rem;
